<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<div class="admin-layout">
    <aside class="sidebar">
        <div class="sidebar-top">
            <div id="current-date" class="date-text" th:text="${#dates.format(#dates.createNow(), 'EEEE, MMMM dd')}"></div>
            <div class="greeting" th:text="'Здравствуйте, ' + ${admin} + '!'">Здравствуйте, Admin!</div>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <a class="nav-link active"
                       hx-get="/admin/dashboard/main"
                       hx-target="#content"
                       hx-swap="innerHTML"
                       hx-trigger="load">Dashboard</a></li>
                <li><a href="/admin/dashboard/movies" class="nav-link">Movies</a></li>
                <li><a href="/admin/dashboard/users" class="nav-link">Users</a></li>
                <li><a href="/admin/dashboard/settings" class="nav-link">Settings</a></li>
            </ul>
        </nav>
    </aside>

    <div class="flex-1 flex flex-col">
        <header class="px-6 py-6">
            <h1 class="text-3xl md:text-4xl font-extrabold text-white tracking-tight">Dashboard</h1>
        </header>

        <main id="content" class="main-content">
        </main>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
</body>
</html>
