<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Включаем стандартные настройки Spring Boot (цвета, формат консоли) -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty name="logPath" source="app.logging.path"/>
    <springProperty name="logstashUrl" source="logstash.url"/>
    <springProfile name="prod">
        <springProperty name="springAppName" source="spring.application.name" />
        <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            !-- Адрес и порт, где Logstash слушает входящие данные -->
            <destination>${logstashUrl}</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <context />
                    <loggerName/>
                    <logLevel/>
                    <pattern>
                        <pattern>
                            {"service": "${springAppName}", "message": "%msg", "app": "mediatron"}
                        </pattern>
                    </pattern>
                    <threadName/>
                    <arguments/>    <!-- kv() аргументы -->
                    <mdc/>

                    <stackTrace>
                        <fieldName>stack_trace</fieldName>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>4096</maxLength>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logPath}/${springAppName}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logPath}/${springAppName}.log.%d{yyyy-MM-dd_HH}</fileNamePattern>
                <maxHistory>20</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss:SSS} [%X{traceId:-}] [%X{spanId:-}] [%thread] [${springAppName}] %logger - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="logstash" />
<!--            <appender-ref ref="file" />-->
        </root>
    </springProfile>
</configuration>