apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  annotations:
    # Включаем поддержку регулярных выражений
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
    - host: mediatron.local
      http:
        paths:
          - path: /(api|oauth2|auth|login)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: rest-api
                port:
                  number: 8080
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
