apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-template
data:
  default.conf.template: |
    server {
      listen 80;
      server_name _;
  
      # React
      location / {
          root   /usr/share/nginx/html;
          index  index.html index.htm;
          try_files $uri $uri/ /index.html;
      }
    }