<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Включаем стандартные настройки Spring Boot (цвета, формат консоли) -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty name="logstashUrl" source="logstash.url"/>
    <springProfile name="prod">
        <springProperty name="springAppName" source="spring.application.name" />
        <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            !-- Адрес и порт, где Logstash слушает входящие данные -->
            <destination>${logstashUrl}</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <context />
                    <loggerName/>
                    <logLevel/>
                    <pattern>
                        <pattern>
                            {"service": "${springAppName}", "message": "%msg", "app": "mediatron"}
                        </pattern>
                    </pattern>
                    <threadName/>
                    <arguments/>
                    <mdc/>

                    <stackTrace>
                        <fieldName>stack_trace</fieldName>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>4096</maxLength>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="logstash" />
        </root>
    </springProfile>
</configuration>