name: Build and Deploy app

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build_jar:
    name: Build with Maven
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service: [mediatron-service]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - run: chmod +x mvnw
      - name: Build with Maven
        run: ./mvnw -B package -pl :${{ matrix.service }} -am

  push_docker_image:
    name: Build and Push Docker image
    runs-on: ubuntu-latest
    needs: [build_jar]
    strategy:
      fail-fast: false
      matrix:
        service: [ mediatron-service ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push ${{ matrix.service }} image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest
  push_docker_compose:
    name: Copy docker-compose to remote server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: ./docker-compose.yml
          target: ./app